<%- include('template-parts/head') %>
<script type='application/ld+json'>
[
    {
        "@context": "http://schema.org/",
        "@type": "NewsArticle",
        "headline": "Day of the Dead Celebration",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "https://www.laestacionresidence.mx/"
        },
        "image": {
            "@type": "ImageObject",
            "url": "https://www.laestacionresidence.mx/media/blog/day-of-the-dead-san-miguel-de-allende.jpg",
            "height": 574,
            "width": 960
        },
        "publisher": {
            "@type": "Organization",
            "name": "Royal Home",
            "logo": {
                "@type": "ImageObject",
                "url": "https://www.laestacionresidence.mx/media/la-estacion-logo-royal-home-mexico-plaza.svg",
                "height": 60,
                "width": 60
            }
        },
        "author": {
            "@type": "Person",
            "name": "Jean Belmont"
        },
        "datePublished": "2021-11-02",
        "dateModified": "2021-11-02",
        "description": "San Miguel de Allende, a colonial-era city in Mexico’s central highlands, is known for its baroque Spanish architecture, thriving arts scene, and cultural festivals. In the city’s historic cobblestoned center lies the neo-Gothic church Parroquia de San Miguel Arcángel"
    },
    {
        "@context": "http://schema.org/",
        "@type": "NewsArticle",
        "headline": "Plusvalía",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "https://www.laestacionresidence.mx/"
        },
        "image": {
            "@type": "ImageObject",
            "url": "https://www.laestacionresidence.mx/media/blog/san miguel 640x640.jpg",
            "height": 574,
            "width": 960
        },
        "publisher": {
            "@type": "Organization",
            "name": "Royal Home",
            "logo": {
                "@type": "ImageObject",
                "url": "https://www.laestacionresidence.mx/media/la-estacion-logo-royal-home-mexico-plaza.svg",
                "height": 60,
                "width": 60
            }
        },
        "author": {
            "@type": "Person",
            "name": "Jean Belmont"
        },
        "datePublished": "2021-10-12",
        "dateModified": "2021-10-12",
        "description": "Por más de 7 años, San Miguel de Allende se mantiene como una de las ciudades más atractivas para invertir en bienes raíces, ya que ha brindado mayor plusvalía a tráves de los años."
    },
    {
        "@context": "http://schema.org/",
        "@type": "NewsArticle",
        "headline": "Una inversión segura",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "https://www.laestacionresidence.mx/"
        },
        "image": {
            "@type": "ImageObject",
            "url": "https://www.laestacionresidence.mx/media/blog/landscapes-1426130.png",
            "height": 574,
            "width": 960
        },
        "publisher": {
            "@type": "Organization",
            "name": "Royal Home",
            "logo": {
                "@type": "ImageObject",
                "url": "https://www.laestacionresidence.mx/media/la-estacion-logo-royal-home-mexico-plaza.svg",
                "height": 60,
                "width": 60
            }
        },
        "author": {
            "@type": "Person",
            "name": "Jean Belmont"
        },
        "datePublished": "2021-09-17",
        "dateModified": "2021-09-17",
        "description": "Una de las mejores ciudades para invertir debido a sus condiciones turísticas y su desarrollada infraestructura gracias a la potencialización nacional y extranjera."
    },
    {
        "@context": "http://schema.org/",
        "@type": "NewsArticle",
        "headline": "la mejor ciudad pequeñadel mundo",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "https://www.laestacionresidence.mx/"
        },
        "image": {
            "@type": "ImageObject",
            "url": "https://www.laestacionresidence.mx/media/blog/litsie-gonzalez-m-ei-f-cggi-7-e-unsplash.png",
            "height": 574,
            "width": 960
        },
        "publisher": {
            "@type": "Organization",
            "name": "Royal Home",
            "logo": {
                "@type": "ImageObject",
                "url": "https://www.laestacionresidence.mx/media/la-estacion-logo-royal-home-mexico-plaza.svg",
                "height": 60,
                "width": 60
            }
        },
        "author": {
            "@type": "Person",
            "name": "Jean Belmont"
        },
        "datePublished": "2021-08-09",
        "dateModified": "2021-08-09",
        "description": "Nombrada la mejor ciudad pequeña del mundo para vivir por la revista Condé Nast Traveler, San Miguel de Allende se convirtió en el primer lugar turístico sin playa de América Latina en recibir el Sello de Viaje seguro."
    },
    {
        "@context": "http://schema.org/",
        "@type": "NewsArticle",
        "headline": "Gastronomía",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "https://www.laestacionresidence.mx/"
        },
        "image": {
            "@type": "ImageObject",
            "url": "https://www.laestacionresidence.mx/media/blog/capa-2.jpg",
            "height": 574,
            "width": 960
        },
        "publisher": {
            "@type": "Organization",
            "name": "Royal Home",
            "logo": {
                "@type": "ImageObject",
                "url": "https://www.laestacionresidence.mx/media/la-estacion-logo-royal-home-mexico-plaza.svg",
                "height": 60,
                "width": 60
            }
        },
        "author": {
            "@type": "Person",
            "name": "Jean Belmont"
        },
        "datePublished": "2021-07-22",
        "dateModified": "2021-07-22",
        "description": "Sin duda alguna San Miguel de Allende cuenta con la combinación perfecta entre contemporaneidad y tradición."
    },
    {
        "@context": "http://schema.org/",
        "@type": "NewsArticle",
        "headline": "Patrimonio de la humanidad",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "https://www.laestacionresidence.mx/"
        },
        "image": {
            "@type": "ImageObject",
            "url": "https://www.laestacionresidence.mx/media/blog/kazuend-2-kx-eb-8-g-5-vo-unsplash.png",
            "height": 574,
            "width": 960
        },
        "publisher": {
            "@type": "Organization",
            "name": "Royal Home",
            "logo": {
                "@type": "ImageObject",
                "url": "https://www.laestacionresidence.mx/media/la-estacion-logo-royal-home-mexico-plaza.svg",
                "height": 60,
                "width": 60
            }
        },
        "author": {
            "@type": "Person",
            "name": "Jean Belmont"
        },
        "datePublished": "2021-06-05",
        "dateModified": "2021-06-05",
        "description": "Ciudad representativa en todo su esplendor de la cultura mexicana, nombrada por la UNESCO, Patrimonio de la Humanidad."
    }
]
</script>
<link rel="stylesheet" href="../css/beneficios.css">
<%- include('template-parts/header') %>
<main class="container">
   <section class="beneficios_head">
      <p class="beneficios_title">VIVE EL</p>
      <p class="beneficios_subtitle">PRIVILEGIO</p>
      <p class="beneficios_slogan">San Miguel de Allende
      ciudad reconocida
      a nivel mundial.</p>
   </section>
   <section class="blog">
   
   </section>
</main>
<%- include('template-parts/footer') %>
<script src="../js/beneficios.js"></script>
<%- include('template-parts/scripts') %>