<%- include('template-parts/header') %>
<link rel="stylesheet" href="../css/beneficios.css">

<main class="container">
   <section class="beneficios_head">
      <p style="font-size: 16px; letter-spacing: 3.2px;">VIVE EL</p>
      <p style="font-size: 27px; letter-spacing: 5.4px;">PRIVILEGIO</p>
      <p style="font-size: 27px; font-weight: bold; line-height: 1.09; margin-top: 50px;">San Miguel de Allende
      ciudad reconocida
      a nivel mundial.</p>
   </section>
   <section class="blog">
   
   </section>
</main>
<%- include('template-parts/footer') %>
<script src="../js/beneficios.js"></script>
<%- include('template-parts/scripts') %>