<%- include('template-parts/header') %>
<script type='application/ld+json'>
{
    "@context": "http://schema.org/",
    "@type": "NewsArticle",
    "headline": "Day of the Dead Celebration",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://www.laestacionresidence.mx/"
    },
    "image": {
        "@type": "ImageObject",
        "url": "https://www.laestacionresidence.mx/media/blog/day-of-the-dead-san-miguel-de-allende.jpg",
        "height": 574,
        "width": 960
    },
    "publisher": {
        "@type": "Organization",
        "name": "Royal Home",
        "logo": {
            "@type": "ImageObject",
            "url": "https://www.laestacionresidence.mx/media/la-estacion-logo-royal-home-mexico-plaza.svg",
            "height": 60,
            "width": 60
        }
    },
    "datePublished": "2021-11-02",
    "dateModified": "2021-11-02",
    "description": "San Miguel de Allende, a colonial-era city in Mexico’s central highlands, is known for its baroque Spanish architecture, thriving arts scene, and cultural festivals. In the city’s historic cobblestoned center lies the neo-Gothic church Parroquia de San Miguel Arcángel"
}
</script>
<link rel="stylesheet" href="../css/beneficios.css">

<main class="container">
   <section class="beneficios_head">
      <p class="beneficios_title">VIVE EL</p>
      <p class="beneficios_subtitle">PRIVILEGIO</p>
      <p class="beneficios_slogan">San Miguel de Allende
      ciudad reconocida
      a nivel mundial.</p>
   </section>
   <section class="blog">
   
   </section>
</main>
<%- include('template-parts/footer') %>
<script src="../js/beneficios.js"></script>
<%- include('template-parts/scripts') %>