<%- include('template-parts/header') %>
<link rel="stylesheet" href="../css/beneficios.css">

<main class="container">
   <section class="beneficios_head">
      <p class="beneficios_title">VIVE EL</p>
      <p class="beneficios_subtitle">PRIVILEGIO</p>
      <p class="beneficios_slogan">San Miguel de Allende
      ciudad reconocida
      a nivel mundial.</p>
   </section>
   <section class="blog">
   
   </section>
</main>
<%- include('template-parts/footer') %>
<script src="../js/beneficios.js"></script>
<%- include('template-parts/scripts') %>