<%- include('template-parts/header') %>
<link rel="stylesheet" href="../css/galeria.css">

<main class="container">
   <div class="galeria_container">
      <div class="galeria_header">
         <div class="acento"></div>
         <p>vive</p>
         <h1>la estación</h1>
      </div>
      <!---->
      <div class="galeria_body">

      </div>
   </div>
   <!---->
   
   <!---->
   <div class="blackBox display_none">
         <img class="chevron_left" src="../media/chevron_left.png" alt="" />
         <div class="blackbox_img_frame">
            
         </div>
         <img class="chevron_right" src="../media/chevron_left.png" alt="" />
         <img class="gallery_close" src="../media/close_btn.svg" alt="" />
   </div>
</main>


<%- include('template-parts/footer') %>
<script src="../js/galeria.js"></script>
<%- include('template-parts/scripts') %>