<%- include('template-parts/header') %>
<link rel="stylesheet" href="../css/inicio.css">

<main class="container">
 <div class="slider_container">
   <img class="chevron_left" src="../media/chevron_right.svg" alt="">
   <img class="chevron_right" src="../media/chevron_right.svg" alt="">
   <div class="slides_container">

   </div>
    <!---->
    
 </div> <!--slider_container-->
 <div id="contacto" class="contacto_container">
    <div class="contacto_top">
       <p>síguenos en</p>
       <div class="contacto_icons">
         <img src="../media/instagram-icon.png" alt=""> 
         <img src="../media/facebook-icon.png" alt="">
       </div>
    </div>
    <div class="contacto_banner">
       <p>¡VIVE <br> LA ESTACIÓN!</p>
    </div>
    <div class="contacto_bottom">
       <img src="../media/ubicacion-icon.png" alt="">
       <p>
         Calzada de la Estación 90, <br>
         Zona Centro, 37700 <br>
         San Miguel de Allende, Gto.
      </p>
       <h1>
         462 120 6579
       </h1>
    </div>
 </div> <!--contacto_container-->
 <div class="legales_container">
      <p class="legales_content">
         © LA ESTACIÓN. <br>
         TODOS LOS DERECHOS RESERVADOS
         DERECHOS RESERVADOS | <br> <a href="/aviso-de-privacidad">POLÍTICA DE
         <span>PRIVACIDAD</a> | DESARROLLO DE SITIOS</span>
      </p>
      <p class="legales_subcontent">
         El vendedor de La Estación se reserva el derecho de realizar modificaciones en los planos, diseños exteriores,
         precios,
         materiales, especificaciones,
         acabados y características estándar en cualquier momento y sin previo aviso. Las fotografías, las representaciones
         son
         ilustrativos y conceptuales.         
      </p>
 </div>
</main>

<%- include('template-parts/footer') %>

<script src="../js/inicio.js"></script>

<%- include('template-parts/scripts') %>
