<%- include('template-parts/header') %>   
   <link rel="stylesheet" href="../css/privacidad.css">

   <main class="container">
      <section class="ubicacion_head">
         <h3>AVISO DE</h3>
         <h2>PRIVACIDAD</h2>
      </section>
      <section class="privacidad_text">
         <p>De acuerdo a lo previsto en la “Ley Federal de protección de Datos personales en posesión de los particulares”, declara
         PROMOTORA PRIMAVERA DE SAN MIGUEL DE ALLENDE SA DE CV ser persona moral constituida de acuerdo a las leyes de la
         República mexicana, con domicilio ubicado en calle Calzada de la Estación número 90 colonia Centro C.P. 37700 en San
         Miguel de Allende, Guanajuato, México; y como responsable del tratamiento de sus datos personales, Les comunica que los
         datos personales que como nuestro cliente nos proporcione, estarán en posesión de la misma bajo y bajo resguardo del
         área encargada de datos personales. Toda vez que es necesario recabar, almacenar y tratar sus datos personales y/o
         patrimoniales con la finalidad de ofrecerle nuestros servicios de hospedaje. Podemos solicitar información personal, que
         varía según el caso relativa a:
         
         Nombre completo y fecha de nacimiento 2.- Dirección 3.- Registro federal de Contribuyentes y CURP 4. Teléfonos de hogar,
         oficina y móviles 5.- Correo electrónico 6.- Datos patrimoniales como cuentas bancarias, créditos, bienes muebles e
         inmuebles que tiene a su nombre, así como sus activos y pasivos entre otros. 7.- Comprobantes fiscales que acrediten su
         identidad y la información que usted declara 8.- Otros como acta de nacimiento, comprobante de domicilio, identificación
         oficial vigente 9.- Estado civil y régimen matrimonial Estos serán utilizados única y exclusivamente para los siguientes
         fines 1.- Confirmar su identidad y verificar que la información que nos proporciona es verídica y actualizada. 2.-
         Brindarle los servicios que solicite tales como reservaciones y cualquier otra transacción relacionada con la prestación
         de servicios de hospedaje. 3.- Cumplir con los requerimientos legales que sean aplicables 4.- Realizar evaluaciones
         periódicas de nuestros productos y servicios a efecto de mejorar la calidad de los mismos 5.- Evaluar la calidad del
         servicio que brindamos, y en general, para dar cumplimiento a las obligaciones que hemos contraído con usted.
         
         ACEPTACIÓN DEL TRATAMIENTO DE DATOS PERSONALES. Para que PROMOTORA PRIMAVERA DE SAN MIGUEL DE ALLENDE SA DE CV pueda
         llevar a cabo el Tratamiento de Datos Personales, nuestros clientes y/o titulares de Datos Personales deberán otorgarnos
         la aceptación expresa o tácita para dicho tratamiento, la cual se llevará por cualquiera de los siguientes medios:
         Aceptación a través de medios electrónicos
         
         a) Publicación en la página de Internet de PROMOTORA PRIMAVERA DE SAN MIGUEL DE ALLENDE SA DE CV. Además de darle a
         conocer el Aviso de Privacidad mediante correo electrónico, PROMOTORA PRIMAVERA DE SAN MIGUEL DE ALLENDE SA DE CV
         publicará el presente Aviso de Privacidad en la página de internet: http://www.hotellaestacion.mx/, con el fin de que,
         una vez que se entere de su contenido, otorgue o niegue su consentimiento para que PROMOTORA PRIMAVERA DE SAN MIGUEL DE
         ALLENDE SA DE CV pueda llevar a cabo el Tratamiento de sus Datos Personales. Esto también procederá en caso que, por
         cualquier motivo, PROMOTORA PRIMAVERA DE SAN MIGUEL DE ALLENDE SA DE CV no cuente con su dirección de correo electrónico
         o cuando sus Datos Personales sean erróneos o estén en desuso y no nos permitan localizarle. b) Correo electrónico. Con
         base en la información que nos proporcione o nos haya proporcionado, PROMOTORA PRIMAVERA DE SAN MIGUEL DE ALLENDE SA DE
         CV hará llegar el presente Aviso de Privacidad mediante correo electrónico, con el fin de que, una vez que se haya
         enterado de su contenido, nos otorgue o niegue su consentimiento para que PROMOTORA PRIMAVERA DE SAN MIGUEL DE ALLENDE
         SA DE CV pueda llevar a cabo el Tratamiento de sus Datos Personales. Aceptación de manera personal.
         
         Cuando los Datos Personales se obtengan personalmente del titular, PROMOTORA PRIMAVERA DE SAN MIGUEL DE ALLENDE SA DE CV
         pondrá a su disposición el presente Aviso de Privacidad en el momento en que sean recabados sus Datos Personales por
         medio de los formatos que PROMOTORA PRIMAVERA DE SAN MIGUEL DE ALLENDE SA DE CV utiliza o llegare a utilizar para tales
         efectos. Además, a través de dichos formatos, PROMOTORA PRIMAVERA DE SAN MIGUEL DE ALLENDE SA DE CV recabará la
         aceptación o negación del consentimiento del titular para someter dichos datos a las Finalidades del Tratamiento
         establecidas en el presente Aviso de Privacidad.
         
         Datos personales sensibles: Le informamos que por nuestra parte no serán recabados y tratados datos personales sensibles
         que incluyen entre otros origen racial o étnico, estado de salud presente y futuro, información genética, creencias
         religiosas, filosóficas y morales, afiliación sindical, opiniones políticas, preferencia sexual. Para prevenir el acceso
         no autorizado a sus datos personales y con el fin de asegurar que la información sea utilizada para los fines
         establecidos en este aviso de privacidad, hemos establecido diversos procedimientos con la finalidad de evitar el uso o
         divulgación no autorizados de sus datos, permitiéndonos tratarlos debidamente Así mismo, le informamos que sus datos
         personales pueden ser transmitidos para ser tratados por personas físicas distintas al que suscribe este documento de
         acuerdo en lo previsto en el artículo 37 de la “Ley Federal de protección de Datos personales en posesión de los
         particulares”. Todos sus datos personales son tratados de acuerdo a la legislación aplicable y vigente en el País por
         ello le informamos que usted tiene en todo momento los derechos de: -Conocer que datos personales tenemos de usted
         (Acceso) -Derecho a solicitar la corrección de su información personal en caso de que este desactualizada sea inexacta o
         incompleta (Rectificación) -Que eliminemos de nuestros registros o bases de datos cuándo considere que la misma no está
         siendo utilizada conforme a los principios, deberes y obligaciones previstas en la normativa (Cancelación) -Así como
         oponerse al uso de sus datos personales para fines específicos (Oposición) Estos derechos se conocen como derechos ARCO.
         En caso de que usted considere ejercer los derechos de acceso, rectificación, cancelación y oposición, deberá enviar la
         solicitud en los términos que marca la “Ley Federal de protección de Datos personales en posesión de los particulares”,
         en su artículo 29, con nuestro encargado, el C. Daniel Velázquez Gómez en el domicilio ubicado en nuestras oficinas,
         mismo que se encuentra en calle Calzada de la Estación número 90, Colonia Centro, San Miguel de Allende, Guanajuato,
         México, C.P. 37700, o bien se comunique al teléfono (415) 121 24 03 y/o al correo electrónico velazquezgomez@gmail.com A
         través de estos canales usted podrá actualizar sus datos y especificar el medio por el cual desea recibir información,
         ya que, en caso de no contar con esta especificación de su parte, el C. Daniel Velázquez Gómez como encargado de la
         protección de sus datos personales establecerá libremente que considere pertinente para enviarle información.
         
         Este aviso de privacidad podrá ser modificado dichas modificaciones serán oportunamente informadas a través esta página
         oficial y en el aviso de privacidad colocado en nuestro hotel.
         
         Última Actualización 21/04/2017
         ATENTAMENTE PROMOTORA PRIMAVERA DE SAN MIGUEL DE ALLENDE SA DE CV</p>
      </section>
   </main>

<%- include('template-parts/footer') %>
<%- include('template-parts/scripts') %>