<%- include('template-parts/header') %>
<link rel="stylesheet" href="../css/proyecto.css">

<main class="container">
   <section class="proyecto_head">
      <p>siempre <br>
         <span class="text-accent">alegre,</span> <br>
         para <br>
         siempre <br>
         San Miguel
      </p>
      
   </section>
   <section class="proyecto_middle">
      <p>
         <strong>La Estación Hotel & Residence. </strong><br/>
         Es tu nueva forma de vida, tu <br/>
         lugar de inspiración y creador de <br/>
         <strong>nuevos recuerdos. </strong>
      </p>

   </section>
   <section class="proyecto_banner">
      <h3>modelos</h3>
      <h1 style="font-size: 27px;">la estación</h1>
   </section>
   <section class="proyecto_modelos">
      <img class="chevron_left " src="../media/chevron_right.svg" alt="">
      <img class="chevron_right" src="../media/chevron_right.svg" alt="">
      <div class="slides_container">
      </div>
   </section>
   <div id="morelos" class="modelos_popup display_none">
      <div class="modelos_popup_container">
         <img src="../media/slider-proyecto/close-popup.svg" alt="" class="close_popup">
         <div class="render_title">
            morelos
         </div>
         <img src="../media/slider-proyecto/morelos_img_render.jpg" alt="" class="modelos_img_render">
         <p class="render_desc">
            El departamento que te <br>
            permitirá descubrir tu lado <br>
            más íntimo y entrelazar tus <br>
            nuevas historias para vivir <br>
            La Estación.
         </p>
         <div class="modelos_amenidades">
            <ul>
               <li> <img class="amenidades_icon" src="../media/slider-proyecto/cama.png" alt=""> 1 recámara principal
               con acabado en puertas
               con arte exclusivo de
               San Miguel de Allende</li>
               <li> <img class="amenidades_icon" src="../media/slider-proyecto/tina.png" alt=""> <span> 1 <sup>1</sup>/<sub>²</sub> Baños </span> </li>
               <li> <img class="amenidades_icon" src="../media/slider-proyecto/mesa.png" alt=""> Comedor</li>
               <li> <img class="amenidades_icon" src="../media/slider-proyecto/micro.png" alt=""> Cocina equipada con
               horno, plancha y campana</li>
               <li> <img class="amenidades_icon" src="../media/slider-proyecto/hoja.png" alt=""> Roof Top (opcional)</li>
               <li> <img class="amenidades_icon" src="../media/slider-proyecto/auto.png" alt=""> Estacionamiento</li>
               <li></li>
            </ul>
         </div>
      </div>
   </div>
   <div id="allende" class="modelos_popup display_none">
      <div class="modelos_popup_container">
         <img src="../media/slider-proyecto/close-popup.svg" alt="" class="close_popup">
         <div class="render_title">
            allende
         </div>
         <img src="../media/slider-proyecto/allende_img_render.jpg" alt="" class="modelos_img_render">
         <p class="render_desc">
            El espacio atemporal que <br>
            aprovecha cada rincón y <br>
            te sumerge en las <br>
            posibilidades infinitas de vivir <br>
            San Miguel de Allende.
         </p>
         <div class="modelos_amenidades">
            <ul>
               <li> <img class="amenidades_icon" src="../media/slider-proyecto/cama.png" alt=""> 2 recamaras, ambas
               con acabados en puertas
               con arte exclusivo de
               San Miguel de Allende</li>
               <li> <img class="amenidades_icon" src="../media/slider-proyecto/tina.png" alt=""> 2 Baños</li>
               <li> <img class="amenidades_icon" src="../media/slider-proyecto/sillon.png" alt=""> Sala</li>
               <li> <img class="amenidades_icon" src="../media/slider-proyecto/mesa.png" alt=""> Comedor</li>
               <li> <img class="amenidades_icon" src="../media/slider-proyecto/micro.png" alt=""> Cocina equipada con
               horno, plancha y campana</li>
               <li> <img class="amenidades_icon" src="../media/slider-proyecto/hoja.png" alt=""> Roof Top (opcional)</li>
               <li> <img class="amenidades_icon" src="../media/slider-proyecto/auto.png" alt=""> Estacionamiento</li>
            </ul>
         </div>
      </div>
   </div>
</main>


<%- include('template-parts/footer') %>

<script src="../js/proyecto.js"></script>

<%- include('template-parts/scripts') %>
