<%- include('template-parts/header') %>
<link rel="stylesheet" href="../css/proyecto.css">

<main class="container">
   <section class="proyecto_head">
      <p>siempre <br>
         <span class="text-accent">alegre,</span> <br>
         para <br>
         siempre <br>
         San Miguel
      </p>
      
   </section>
   <section class="proyecto_middle">
      <p>
         <strong>La Estación Hotel & Residence. </strong><br/>
         Es tu nueva forma de vida, tu <br/>
         lugar de inspiración y creador de <br/>
         <strong>nuevos recuerdos. </strong>
      </p>

   </section>
   <section class="proyecto_banner">
      <h3>modelos</h3>
      <h1 style="font-size: 27px;">la estación</h1>
   </section>
   <section class="proyecto_modelos">
      <img class="chevron_left" src="../media/chevron_right.svg" alt="">
      <img class="chevron_right" src="../media/chevron_right.svg" alt="">
      <div class="slides_container">
      </div>
   </section>

</main>

<%- include('template-parts/footer') %>

<script src="../js/proyecto.js"></script>

<%- include('template-parts/scripts') %>
