<%- include('template-parts/header') %>
<link rel="stylesheet" href="../css/inicio.css">
<link rel="stylesheet" href="../css/proyecto.css">
<link rel="stylesheet" href="../css/drift-basic.css">

<main class="container">
   <section class="proyecto_head">      
      <div class="sma_top">siempre <span class="sma_accent">alegre,</span></div>
      <div class="sma_middle">para siempre</div>
      <div class="sma_bottom">San Miguel de Allende</div>
   </section>
   <section class="proyecto_middle">
         <section class="proyecto_head_desktop">
            <div class="sma_top">siempre <span class="sma_accent">alegre,</span></div>
            <div class="sma_middle">para siempre</div>
            <div class="sma_bottom">San Miguel de Allende</div>
         </section>
      <p class="sma_subtext">
         <strong>La Estación Hotel & Residence. </strong><br/>
         Es tu nueva forma de vida, tu <br/>
         lugar de inspiración y creador de <br/>
         <strong>nuevos recuerdos. </strong>
      </p>
   </section>
   <section class="proyecto_banner">
      <h3>modelos</h3>
      <h1>la estación</h1>
   </section>
   <section class="proyecto_modelos">      
<div class="modelos_container">

   <div class="slide_modelo">
      <img src="../media/slider-proyecto/la-estacion-allende.jpg" alt="" class="modelos_img">
      <div class="modelos_title allende">
         allende
      </div>
      <div class="modelos_tipo">
         <p><b class="allende">Ver distribución</b></p>
      </div>
   </div>

   <div class="slide_modelo">
      <img src="../media/slider-proyecto/la-estacion-morelos.jpg" alt="" class="modelos_img">
      <div class="modelos_title morelos">
         morelos
      </div>
      <div class="modelos_tipo">
         <p><b class="morelos">Ver distribución</b></p>
      </div>
   </div>
</div>
   </section>
   <!--separador-->
   <div style="display: block; height: 10%;"></div>
   <!--slider detalles-->
   <section class="slider_container">
      <img class="chevron_left" src="../media/chevron_right.svg" alt="">
      <img class="chevron_right" src="../media/chevron_right.svg" alt="">
      <div class="slides_container">

      </div>
   </section>
   <!-- recorrido 3d-->   
   <section class="matterport">      
      <p class="detalles_title" style="text-align: center;">Recorrido Virtual</p>
            <iframe width="100%" height="100%" src="https://my.matterport.com/show/?m=ZoGj3quPw1d" frameborder="0"
               allowfullscreen="" allow="xr-spatial-tracking"></iframe>
   </section>
   <!-- popups-->
   <div id="morelos" class="modelos_popup display_none">
      <img src="../media/slider-proyecto/close-popup.svg" alt="" class="close_popup">
      <div class="modelos_popup_container">
         <div class="popup_container_left">
            <div class="render_title">
               morelos
            </div>
            <img src="../media/slider-proyecto/morelos_img_render.jpg" alt="" class="modelos_img_render" data-zoom="../media/slider-proyecto/morelos_img_render.jpg?w=200&ch=DPR&dpr=2"/>
         </div>
         <div class="popup_container_right">
            <p class="render_desc">
               El departamento que te permitirá descubrir tu lado más íntimo y entrelazar tus nuevas historias para vivir La Estación.
            </p>
            <div class="precio">
               Desde $2,737,800 MXN
            </div>
            <p class="m2 morelos">65m<sup>2</sup></p>
            <div class="modelos_amenidades">
               <div class="amenidades_left">
                  <div><img class="proyecto_icons" src="../media/slider-proyecto/cama-icon.svg" alt="">1 recámara</div>
                  <div><img class="proyecto_icons" src="../media/slider-proyecto/tina-icon.svg" alt=""> <span>1 <sup>1</sup>/<sub>2</sub> Baños </span></div>
                  <div><img class="proyecto_icons" src="../media/slider-proyecto/sillon-icon.svg" alt="">Sala</div>                  
               </div>
               <div class="amenidades_right">
                  <div><img class="proyecto_icons" src="../media/slider-proyecto/mesa-icon.svg" alt="">Comedor</div>
                  <div><img class="proyecto_icons" src="../media/slider-proyecto/micro-icon.svg" alt="">Cocina equipada con
                  horno, plancha y campana</div>
                  <div><img class="proyecto_icons" src="../media/slider-proyecto/hoja-icon.svg" alt="">Roof Top (opcional)</div>
                  <div><img class="proyecto_icons" src="../media/slider-proyecto/auto-icon.svg" alt="">Estacionamiento</div>  
               </div>
            </div>
         </div>
      </div>
   </div>
   <!---->
   <div id="allende" class="modelos_popup display_none">
      <img src="../media/slider-proyecto/close-popup.svg" alt="" class="close_popup">
      <div class="modelos_popup_container">
         <div class="popup_container_left">
            <div class="render_title">
               allende
            </div>
            <img src="../media/slider-proyecto/allende_img_render.jpg" alt="" class="modelos_img_render" data-zoom="../media/slider-proyecto/allende_img_render.jpg?w=200&ch=DPR&dpr=2"/>
         </div>
         <div class="popup_container_right">
            <p class="render_desc">
               El espacio atemporal que aprovecha cada rincón y te hace sumergirte en las posibilidades infinitas de vivir San Miguel
               de Allende.
            </p>
            <div class="precio">
               Desde $4,633,200 MXN
            </div>
            <p class="m2 morelos">110m<sup>2</sup></p>
            <div class="modelos_amenidades">
               <div class="amenidades_left">
                  <div><img class="proyecto_icons" src="../media/slider-proyecto/cama-icon.svg" alt="">2 recámaras</div>
                  <div><img class="proyecto_icons" src="../media/slider-proyecto/tina-icon.svg" alt="">2 Baños</div>
                  <div><img class="proyecto_icons" src="../media/slider-proyecto/sillon-icon.svg" alt="">Sala</div>
               </div>
               <div class="amenidades_right">
                  <div><img class="proyecto_icons" src="../media/slider-proyecto/mesa-icon.svg" alt="">Comedor</div>
                  <div><img class="proyecto_icons" src="../media/slider-proyecto/micro-icon.svg" alt="">Cocina equipada con
                  horno, plancha y campana</div>
                  <div><img class="proyecto_icons" src="../media/slider-proyecto/hoja-icon.svg" alt="">Roof Top (opcional)</div>
                  <div><img class="proyecto_icons" src="../media/slider-proyecto/auto-icon.svg" alt="">Estacionamiento</div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!---->
</main>


<%- include('template-parts/footer') %>

<script type="module" src="../js/proyecto.js"></script>

<%- include('template-parts/scripts') %>