<%- include('template-parts/head') %>
<%- include('template-parts/header') %>
<link rel="stylesheet" href="../css/galeria.css">
<link rel="stylesheet" href="../css/qSomos.css">

<main class="container">
   <section class="qs_head_img">
      <img src="../media/quienes-somos/la-estacion-royal-home-quienes-somos.jpg" alt="">
   </section>
   <section class="qs_title">
      <h2>¿QUIÉNES</h2>
      <h3>SOMOS?</h3>
   </section>
   <section class="qs_slogan">
      
      <p class="slogan_mobile">
         La Estación Hotel & Residence, <br>
         es tu nueva forma de vida, tu
         lugar de inspiración y creador
         de nuevos recuerdos.
      </p>      
   </section>
   <section class="qs_content">
      <p class="content_mobile">
         Somos una desarrolladora inmobiliaria enfocada en la creación de espacios únicos y eficientes, bajo conceptos de lujo y
         exclusividad, garantizando en cada uno de ellos la optimización de los recursos. Generando así, proyectos innovadores
         respaldados por arquitectos de renombre. Nuestra finalidad es ofrecer desarrollos diferentes y de alta calidad que
         satisfagan las necesidades y expectativas de cada uno de nuestros clientes con atención a cada detalle. <br> <br>
         
         Royal Home, una empresa de bienes raíces que nace de la diversificación comercial del grupo hotelero más fuerte del
         bajío, Grupo México Plaza. Dentro de nuestra trayectoria, hemos desarrollado más de 20 hoteles, plazas comerciales,
         parques industriales y residenciales que se destacan por su arquitectura e innovación.
      </p>
   </section>
   <section>
         <div class="galeria_container">
            <!---->
            <div class="galeria_body">
         
            </div>
         </div>
         <!---->
         
         <!---->
         <div class="blackBox display_none">
            <img class="chevron_left" src="../media/chevron_left.svg" alt="" />
            <div class="blackbox_img_frame">
         
            </div>
            <img class="chevron_right" src="../media/chevron_left.svg" alt="" />
            <img class="gallery_close" src="../media/close_btn.svg" alt="" />
         </div>
   </section>
</main>

<%- include('template-parts/footer') %>
<script src="../js/qSomos.js"></script>
<%- include('template-parts/scripts') %>