<%- include('template-parts/header') %>
<link rel="stylesheet" href="../css/galeria.css">
<link rel="stylesheet" href="../css/qSomos.css">

<main class="container">
   <section class="qs_head_img">
      <img src="../media/quienes-somos/la-estacion-royal-home-quienes-somos.jpg" alt="">
   </section>
   <section class="qs_title">
      <h2>¿QUIENES</h2>
      <h3>SOMOS?</h3>
   </section>
   <section class="qs_slogan">
      
      <p class="slogan_mobile">
         La Estación Hotel & Residence.
         Es tu nueva forma de vida, tu
         luigar de inspiración y creador
         de nuevos recuerdos
      </p>
      
      <p class="slogan_desktop">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
      aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde
      omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
      inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
      aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
      porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
      tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
      <img src="../media/quienes-somos/qs-la-estacion-residences-royal-home.jpg" alt="">
   </section>
   <section class="qs_content">
      <p class="content_mobile">
         Somos una desarrolladora inmobiliaria enfocada en la creación de espacios únicos y eficientes, bajo conceptos de lujo y
         exclusividad garantizando en cada uno de ellos, la optimización de los recursos, generando así; proyectos innovadores
         respaldados por arquitectos de renombre, con la finalidad de ofrecer desarrollos inmobiliarios que satisfagan las
         necesidades y expectativas de cada uno de nuestros clientes. <br> <br>
         
         Royal Home, nace de la diversificación comercial del grupo hotelero más fuerte del bajío Grupo México Plaza. Dentro de
         nuestra trayectoria, hemos desarrollado más de 20 hoteles, plazas comerciales, parques industriales y residenciales que
         se destacan por su arquitectura e innovación.
      </p>
      <p class="slogan_desktop">
         Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
         magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
         ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
         consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
         praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
      </p>
   </section>
   <section>
         <div class="galeria_container">            
            <!---->
            <div class="galeria_body">
         
            </div>
         </div>
         <!---->
         
         <!---->
         <div class="blackBox display_none">
            <img class="chevron_left" src="../media/chevron_left.png" alt="" />
            <div class="blackbox_img_frame">
         
            </div>
            <img class="chevron_right" src="../media/chevron_left.png" alt="" />
            <img class="gallery_close" src="../media/close_btn.svg" alt="" />
         </div>
   </section>
</main>

<%- include('template-parts/footer') %>
<script src="../js/qSomos.js"></script>
<%- include('template-parts/scripts') %>