<%- include('template-parts/header') %>
<script src="../js/interact.min.js"></script>
   <link rel="stylesheet" href="../css/ubicacion.css">

   <main class="container">
      <section class="ubicacion_head">
         <h3>UBICACIÓN</h3>
         <h2>PRIVILEGIADA</h2>
      </section>
      <section class="mapa_border">
         <article class="gesture-area">
               <img id="drag-1" class="draggable scale-element" src="../media/ubicacion/mapa.svg" />
         </article>
      </section>
      <section class="mapa_waze">
            <iframe
               src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3726.9421372865927!2d-100.76004798459874!3d20.91464749703893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842b504b7628d8f3%3A0x5bae2085e1b1ab4d!2zSG90ZWwg4oCcTGEgRXN0YWNpw7Nu4oCd!5e0!3m2!1ses!2smx!4v1635008721797!5m2!1ses!2smx"
               width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <a href="https://ul.waze.com/ul?ll=20.91499519%2C-100.75771809&navigate=yes&zoom=17&utm_campaign=default&utm_source=waze_website&utm_medium=lm_share_location"
               class="link_waze" target="_blank">ir a la estación</a>
      </section>
   </main>

<%- include('template-parts/footer') %>

<script src="../js/ubicacion.js"></script>
<%- include('template-parts/scripts') %>


<%##
         <!-- enable javascript to view a demo -->
         <div id="gesture-area">
            <img src="../media/ubicacion/mapa.svg" alt="sample image" id="scale-element">
         </div>

         ##%>
