@charset "UTF-8";

.container{
   max-width: 1440px;
   margin: 0 auto;
}
.beneficios_head {
   margin-top: 44px;
   margin-bottom: 50px;   
}
.beneficios_head > p{
   font-family: 'Brygada 1918', serif;
   color: var(--FontDark);
  letter-spacing: 3.2px;
  text-align: center;  
  margin: 0 auto;
  letter-spacing: -0.83px;  
  max-width: 274px;
}
.beneficios_title{
   font-size: 16px !important; 
   letter-spacing: 3.2px !important;
}
.beneficios_subtitle{
   font-size: 27px !important; 
   letter-spacing: 5.4px !important;
}
.beneficios_slogan{
   font-size: 27px !important; 
   font-weight: bold !important; 
   line-height: 1.09 !important;
   margin-top: 50px !important;
}
/*******************************/
.blog_post{
   position: relative;
}
.blog_head{
   position: relative;
}
.blog_title_left{
   position: absolute;
   top: 25px;
   left: 25px;
     object-fit: contain;
  font-family: 'Brygada 1918', serif; 
  font-size: 27.5px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.09;
  letter-spacing: -0.83px;
  text-align: left;
  color: #ffffff;
  
}
.blog_title_right{
   position: absolute;
   top: 25px;
   right: 25px;
     object-fit: contain;
  font-family: 'Brygada 1918', serif; 
  font-size: 27.5px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.09;
  letter-spacing: -0.83px;
  text-align: right;
  color: #ffffff;
  
}
.blog_img_left{
   width: 100%;
   height: 100vw;
   object-fit: cover;
   object-position: 50% 50%; /* even if we dont declare this the image will still be centered */
}
.blog_img_right{
   width: 100%;
   height: calc(100vh - 44px);
   object-fit: cover;
   text-align: center;
   object-position: 50% 50%; /* even if we dont declare this the image will still be centered */
}
.blog_text{
   margin: 50px 5%;
   border: 1px solid var(--FontDark);
   padding: 23px;
}
.blog_text > p{
     object-fit: contain;
  font-family: 'Encode Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.65;
  letter-spacing: normal;
  text-align: center;
}

/** Media query **/

/********* Media Query On screens that are 600px or more ************/
@media screen and (min-width: 600px) {
   .beneficios_head {
    margin: 5% auto;
}
   .beneficios_head > p{
      max-width: 1200px ;
   }
   .beneficios_title{
      font-size: 45px !important;
      margin: 0;
      padding: 0;
      letter-spacing: 9.5px;
      padding-bottom: 23px;
   }
   .beneficios_subtitle{
      font-size: 62px !important;
      margin: 0;
      padding: 0;
      padding-bottom: 50px;
      letter-spacing: 16px;
   }
   .beneficios_slogan{
      font-size: 62px !important;
      margin: 0;
      padding: 0;
      letter-spacing: -2.4px;
      
   }

   /******/
   .blog_head{
      display: grid;
      justify-items: center;
   }
   .blog_img_left{
      width: 100%;
      max-width: 1024px;
      height: 100vw;
      max-height: 480px;
      object-fit: cover;
      object-position: 50% 50%; /* even if we dont declare this the image will still be centered */   
   }
   .blog_img_right{
      width: 100%;
      max-width: 1024px;
      height: calc(100vh - 44px);
      max-height: 480px;
      object-fit: cover;
      text-align: center;
      object-position: 50% 50%; /* even if we dont declare this the image will still be centered */   
   }

} /*600px*/
.blog_title_right::after, blog_title_left::after{
   content: "";
   position: absolute;
   display: block;
    background-color: #d7340f;
}
@media screen and (min-width: 992px) {
   .blog_title_right{
      right: 18%;
      font-size: 50.5px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: -1.52px;
   }
   .blog_title_left{
      left: 18%;
      font-size: 50.5px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: -1.52px;
   }
} /**/
