.slider_container{
   position: relative;   
   height: calc(100vh - 44px);
}
.slide{
   position: relative;
}

.slide_img{
   height: calc(100vh - 44px);
   width: 100%;
   object-fit: cover;
   text-align: center;
}
.slide_header{
   position: absolute;
   height: 145px;
   width: 100%;
   background: rgb(0,0,0), .3;
   background: linear-gradient(180deg, rgba(0,0,0,0.499019676229867) 60%, rgba(0,0,0,0) 100%);
   /* z-index: 5; */
}
.slide_header > p{
   font-family: 'Brygada 1918', serif;
   font-size: 40px;
   color: #fff;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 5px;
}

.chevron_left{
   position: absolute;
   height: 60px;
   width: 18px;
   top: calc(50% - 60px);
   left: 26px;
   z-index: 10;
   transform: rotate(180deg);
   cursor: pointer;
}
.chevron_right{
   position: absolute;
   height: 60px;
   width: 18px;
   top: calc(50% - 60px);
   right: 26px;
   z-index: 10;
   cursor: pointer;
}

.slide_fadein_left > * {
   animation: slideFadeInLeft 300ms;
}
@keyframes slideFadeInLeft{
   0%{
      opacity: 0;
      transform: translateX(100%);
   }
   100%{
      opacity: 1;
      transform: translateX(0)
   }
}
/* @keyframes slideFadeIn{
   0%{
      opacity: 0;
      transform: scale(1.1, 1.1);
   }
   100%{
      opacity: 1;
      transform: scale(1, 1);
   }
} */

.slide_fadeout_left > *{
 animation: slideFadeOutLeft 300ms forwards;
}
@keyframes slideFadeOutLeft{
   0%{
      opacity: 1;
      transform: translateX(0);
   }
   100%{
      opacity: 0;
      transform: translateX(-100%);
   }
   
}
/* @keyframes slideFadeOut{
   0%{
      opacity: 1;
      transform: scale(1, 1);
   }
   100%{
      opacity: 0;
      transform: scale(1.1, 1.1);
   }
   
} */

/*******************************************************/
.contacto_container{
   height: calc(100vh - 44px);
   display: grid;
   grid-template-rows: 1fr 115px 1fr;
}
.contacto_top {
    display: grid;
    height: 207px;
    justify-content: center;
    align-content: center;
    grid-template-rows: 69px 40px;
    gap: 23px;
}
.contacto_top > p{
   text-transform: uppercase;
   font-family: 'Encode Sans', sans-serif;
  font-size: 30.5px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 3.66px;
  text-align: center;
}
.contacto_icons{
   text-align: center;
   position: relative;
}
.contacto_icons > img{
   margin: 0 13px;
   height: 40px;
}

.contacto_banner{
   display: grid;
   background-color: var(--Primary);
   justify-content: center;
   align-content: center;
}
.contacto_banner >p{
   font-family: 'Encode Sans', sans-serif;
  font-size: 30.5px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 3.66px;
  text-align: center;
  color: #fff;
}

.contacto_bottom{
   display: grid;
   justify-content: center;
   align-content: center;
   height: 274px;
}
.contacto_bottom > img{
   width: 64px;
   height: 79px;
   margin: 0 auto;
}
.contacto_bottom > p {
   font-family: 'Encode Sans', sans-serif;
   font-size: 23px;
   font-weight: 100;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.28;
   letter-spacing: 0.92px;
   text-align: center;
}
.contacto_bottom > h1{
   font-family: 'Encode Sans', sans-serif;
   font-size: 40px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: 4.8px;
  text-align: center;
}


/*******************************************************************************/

.legales_container{
  font-family: 'Encode Sans', sans-serif;
  background-color: var(--FontDark);
  height: 300px;
  width: 100%;
}
.legales_content{
  width: 100%;
  color: var(--FontLight);
  padding: 11px 22px;  
  font-size: 18px;
  line-height: 1.5;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: justify;
  width: auto;
  font-weight: 200;
  text-align: center;
}
.legales_subcontent{
  background-color: var(--FontDark);
  width: 100%;
  color: var(--FontLight);
  padding: 11px 22px;
  font-size: 15px;
  line-height: 1.27;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: justify;
  width: auto;
  font-weight: 200;
  text-align: center;
}


/* On screens that are 600px or more*/
@media screen and (min-width: 600px) {
   .slide_header{
      height: 200px;
   }
   .slide_header > p{
      font-size: 50px;
   }
  .chevron_left {
     left: 150px;
  }
  .chevron_right {
     right: 150px;
  }
}