@charset "UTF-8";
.container{
   padding-bottom: 85px;
}
footer{
   visibility: hidden;
}
.proyecto_head{
   background-color: var(--Primary);
   padding: 10px;
   font-family: 'Brygada 1918', serif;
   color: #ffffff;
}
.sma_accent{
   color: var(--Secondary);
}
.text-small{
   font-size: 46px;
}

.proyecto_middle{
   background-image: url('../media/slider-proyecto/la-estacion-proyecto.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 547px;
   padding-top: 78px;
}
.proyecto_head_desktop{display: none;}

.sma_subtext {
   text-align: center;
   font-family: 'Encode Sans', sans-serif;
   font-size: 16px;
   font-weight: 300;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.88;
   letter-spacing: normal;
   color: #ffffff;
}


.proyecto_banner{
   height: 107px;
   display: grid;
   justify-content: center;
   align-content: center;
   grid-gap: 8px;
}
.proyecto_banner >h1, .proyecto_banner > h3{
   margin: 0;
   padding: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Brygada 1918', serif; 
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: 5.4px;
  color: var(--FontDark);
}
.proyecto_banner > h1{
   font-size: 27px;
}

/***************************/
.chevron_left{
   position: absolute;
   height: 60px;
   width: 18px;
   top: calc(50% - 80px);
   left: 6px;
   z-index: 10;
   transform: rotate(180deg);
   cursor: pointer;
   margin: 10px;
   padding: 10px;
}
.chevron_right{
   position: absolute;
   height: 60px;
   width: 18px;
   top: calc(50% - 80px);
   right: 6px;
   z-index: 10;
   cursor: pointer;
   margin: 10px;
   padding: 10px;
}
/***************************/
.proyecto_modelos{
   position: relative;
}
.modelos_img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   text-align: center;
}
.slides_container{
   display: grid;
   transition: 0.3s;
}
.slide{
   position: relative;
   height: calc(100vh - 44px);
   display: grid;
   grid-template-rows: 1fr 93px;
}
/***************************/
.modelos_title {
   position: absolute;
   top: calc(100% - 214px);
   color: #fff;
   border-top: 1px solid #fff;
   border-bottom: 1px solid #fff;
   padding: 15px 0;
   font-family: 'Brygada 1918', serif; 
   text-transform: uppercase;
   text-align: center;
   margin: 0 auto;
   width: 289px;
   left: calc(50% - 145px);
   font-size: 31px;
   line-height: 0.97;
   letter-spacing: 6.2px;
}
/***************************/
.modelos_tipo{
  display: grid;
  grid-template-rows: 50px 37px;  
  grid-gap: 10px;
  gap: 10px;
  justify-items: center;
  align-items: center;
  align-content: center;
}
.modelos_tipo >p{
  font-family: 'Encode Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 4px;
  text-align: center;
  color: var(--FontDark);
}
.modelos_tipo > .m2{
   font-size: 25px !important;
   border: 1px solid var(--FontDark);
   width: 88px;
   height: 19px;
   padding: 9px 12px;
   line-height: 0.9;
}

/***************************/

.modelos_popup{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   background-color: #fff;
   transition: 0.3s;
   z-index: 21;
   overflow:scroll;
}
.modelos_popup_container{
   position: relative;
   display: grid;
   grid-template-columns: 100%;
   grid-template-rows: 68px 55px 1fr 180px 1fr;
   grid-gap: 30px;
   gap: 30px;
   padding-bottom: 80px;
}
.render_title{
   color: var(--Secondary);
   font-family: 'Brygada 1918', serif;
   border-top: 1px solid var(--FontDark);
   border-bottom: 1px solid var(--FontDark);
   text-transform: uppercase;
   text-align: center;
   margin: 0 auto;
   width: 289px;
   font-size: 31px;
   line-height: 1.6;
   letter-spacing: 6.2px;
   user-select: none;
   
}
.close_popup{
   align-self: flex-end;
   justify-self: flex-end;
   margin-right: 26px;
   height: 44px;
   width: 44px;
}
.modelos_img_render {
   margin: 0 auto;
   max-height: 530px;
   max-width: 299px;
}
.render_desc{
   font-family: 'Brygada 1918', serif;
   font-size: 22px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.5;
   letter-spacing: -1.1px;
   text-align: center;
   color: #c5bba9;
   width: 320px;
   margin: 0 auto;
}
/*media query 800px width*/
.modelos_amenidades >ul{
   margin: 0;
   padding: 0;
}
.modelos_amenidades >ul > li{
   list-style: none;
   font-size: 16px;
   font-weight: 400;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.13;
   letter-spacing: normal;
   text-align: left;
   color: var(--FontDark);
   font-family: 'Encode Sans', sans-serif;
   display: grid;
   grid-template-columns: 42px 1fr;
   grid-gap: 25px;
   gap: 25px;
   margin-bottom: 34px;
}
.modelos_amenidades{
   width: 247px;
   justify-self: center;
   align-self: center;   
}
.amenidades_icon {
   display: inline-block;
   transform: translateY(-5px);
}



/********* Media Query On screens that are 992px or more ************/
@media screen and (min-width: 992px) {
   body{
      background: var(--Primary);
      background: linear-gradient(180deg, var(--Primary) 518px, rgba(255,255,255,1) 518px);
   }

   .proyecto_head{
      display: none;
   }
   .proyecto_head_desktop{
      display: inherit;
      font-family: 'Brygada 1918', serif;
      color: #ffffff;
   }
   .sma_top{
      font-size: 90px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -5.4px;
      text-align: left;
   }
   .sma_middle{
      font-size: 55.5px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -3.33px;
      text-align: left;
   }
   .sma_bottom{
      font-size: 90px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -5.4px;
      text-align: left;
   }
   .sma_subtext{
      font-size: 24px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: normal;
      text-align: right;
   }

   .proyecto_middle{
      height: 1167px;
      padding: 75px 240px;
      box-sizing: border-box;
   }

   .proyecto_banner{
      grid-gap: 18px;
      gap: 18px;
      margin: 50px 0 100px 0;
   }
   .proyecto_banner > h3{
      font-size: 20.5px;
   }
   .proyecto_banner > h1{
      font-size: 44.5px;
   }

   /************/
   .proyecto_modelos{
      
   }

   /****************/
   .container {
    background-color: #fff;
    width: auto;
    position: relative;
    overflow: hidden;
    padding-bottom: 100px;
    margin: 0 240px;
    box-sizing: content-box;
   }
   footer {
    visibility: inherit;
   }
} /**/



 