@charset "UTF-8";
.proyecto_icons {
    width: 42px;
    height: 33px;
}
.container{
   padding-bottom: 85px;
}

.proyecto_head{
   background-color: var(--Primary);
   padding: 80px 0;
   font-family: 'Brygada 1918', serif;
   color: #ffffff;
}
.sma_accent{
   color: var(--Secondary);
}
.text-small{
   font-size: 46px;
}

.proyecto_middle{
   background-image: url('../media/slider-proyecto/la-estacion-proyecto.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 547px;
   padding-top: 78px;
}
.proyecto_head_desktop{display: none;}

.sma_subtext {
   text-align: center;
   font-family: 'Encode Sans', sans-serif;
   font-size: 16px;
   font-weight: 300;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.88;
   letter-spacing: normal;
   color: #ffffff;
}

.proyecto_banner{
   height: 107px;
   display: grid;
   justify-content: center;
   align-content: center;
   grid-gap: 8px;
}
.proyecto_banner >h1, .proyecto_banner > h3{
   margin: 0;
   padding: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Brygada 1918', serif; 
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: 5.4px;
  color: var(--FontDark);
}
.proyecto_banner > h1{
   font-size: 27px;
}

/***************************/
.proyecto_modelos{
   position: relative;
}
.modelos_img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   object-position: 50% 50%;
   text-align: center;
}
.modelos_container{
   display: block;
   transition: 0.3s;
}
.slide_modelo{
   position: relative;
   height: 100%;
   display: block;
   grid-template-rows: 1fr 93px;
}
/***************************/
.modelos_title {
   position: absolute;
   top: calc(100% - 190px);
   color: #fff;
   border-top: 1px solid #fff;
   border-bottom: 1px solid #fff;
   padding: 15px 0;
   font-family: 'Brygada 1918', serif; 
   text-transform: uppercase;
   text-align: center;
   margin: 0 auto;
   width: 289px;
   left: calc(50% - 145px);
   font-size: 31px;
   line-height: 0.97;
   letter-spacing: 6.2px;
}
/***************************/
.modelos_tipo{
  display: block;
  grid-template-rows: 50px 37px;  
  grid-gap: 10px;
  gap: 10px;
  justify-items: center;
  align-items: center;
  align-content: center;
}
.modelos_tipo >p{
  font-family: 'Encode Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 4px;
  text-align: center;
  color: var(--FontDark);
}
.modelos_tipo >p>b{
   border: 1px solid var(--Primary);
   padding: 5px 10px;
   border-radius: 7px;
   cursor: pointer;
}
.m2{
   font-size: 25px !important;
   border: 1px solid var(--FontDark);
   width: 88px;
   height: 19px;
   padding: 9px 12px;
   line-height: 0.9;
   text-align: center;      
   font-weight: lighter;
   justify-self: center;
   margin: 0;
}
   .precio {
      width: 100%;      
      object-fit: contain;
      font-family: 'Brygada 1918', serif; 
      font-size: 24px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.97;
      
      text-align: left;
      color: #de4b17;
      margin-top: 0;
   }

/***************************/

.modelos_popup{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   background-color: #fff;
   transition: 0.3s;
   z-index: 100;
   overflow-y: scroll;
   overflow-x: hidden;
}
.modelos_popup_container{
   position: relative;
   display: block;
   width: 100%;
   margin: 0 auto;
   margin-top: 100px;
   grid-template-columns: 1fr;
   grid-gap: 60px;
   gap: 60px;
   max-height: 100%;
   box-sizing: border-box;
}

.popup_container_right, .popup_container_left{
   justify-self: center;
}
.popup_container_left {
   display: grid;
   grid-gap: 50px;
}
.popup_container_right {
   display: grid;
   grid-gap: 50px;
}
.modelos_amenidades {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 27px;
    gap: 27px;
    margin: 26px;
   margin-bottom: 80px;
}
   .amenidades_left, .amenidades_right{
      display: grid;
      grid-gap: 27px;
      gap: 27px;
   }
   .amenidades_left>div, .amenidades_right>div{
      display: grid;
      grid-template-columns: 28px 1fr;
      grid-gap: 30px;
      gap: 30px;
      margin: 0 auto;
      width: 80%;
   }

/******************/
.render_title{
   color: var(--Secondary);
   font-family: 'Brygada 1918', serif;
   border-top: 1px solid var(--FontDark);
   border-bottom: 1px solid var(--FontDark);
   text-transform: uppercase;
   text-align: center;
   margin: 0 auto;
   width: 289px;
   font-size: 31px;
   line-height: 1.6;
   letter-spacing: 6.2px;
   user-select: none;
   max-height: 50px;
   
}
.close_popup{
   height: 24px;
   width: 24px;
   position: absolute;
   right: 16px;
   top: 16px;
}
.modelos_img_render {
   margin: 0 auto;   
   max-width: 90%;
}
.render_desc{
   font-family: 'Brygada 1918', serif;
   font-size: 22px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.5;
   letter-spacing: -1.1px;
   text-align: center;
   color: #c5bba9;
   width: 320px;
   margin: 50px auto 0 auto;
}
.precio {
    text-align: center;
}
/****/
   .sma_top{
      font-size: 63px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -3.78px;
  text-align: center;
   }
   .sma_middle{
      font-size: 46px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -2.76px;
  text-align: center;
   }
   .sma_bottom{
       font-size: 63px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -3.78px;
  text-align: center;
   }
/****/
/*************** Slider Detalles ***********************/
.slide {
    height: calc(100vh - 44px);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 385px 1fr;
}
.slide_img{
   height: 385px;
}
.detalles_title{
   display: none;
}
.detalles_content{
   padding: 5%;
   font-family: 'Encode Sans', sans-serif;
   font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: var(--FontDark);
  /* background-color: #ece9e5; */
}
.matterport{
   margin: -50px auto 28px auto;
   width: 90%;
   height: 360px;
}
/********* Media Query On screens that are 992px or more ************/
@media screen and (min-width: 992px) {
   .matterport{
      margin: 100px auto 28px auto;
   }
   body{
      background: var(--Primary);
      background: linear-gradient(180deg, var(--Primary) 518px, rgba(255,255,255,1) 518px);
   }

   .proyecto_head{
      display: none;
   }
   .proyecto_head_desktop{
      display: inherit;
      font-family: 'Brygada 1918', serif;
      color: #ffffff;
   }
   .sma_top{
      font-size: 80px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -5.4px;
      text-align: left;
   }
   .sma_middle{
      font-size: 45px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -3.33px;
      text-align: left;
   }
   .sma_bottom{
      font-size: 80px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -5.4px;
      text-align: left;
   }
   .sma_subtext{
      font-size: 24px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: normal;
      text-align: right;
   }

   .proyecto_middle{
      height: 1167px;
      padding: 75px 10%;
      box-sizing: border-box;
   }

   .proyecto_banner{
      grid-gap: 18px;
      gap: 18px;
      margin: 50px 0 100px 0;
   }
   .proyecto_banner > h3{
      font-size: 20.5px;
   }
   .proyecto_banner > h1{
      font-size: 44.5px;
   }

   /************/
 
   .modelos_title {
      top: 54px;
   }

   /****************/
   .container {
    background-color: #fff;
    width: auto;
    position: relative;
    overflow: hidden;
    padding-bottom: 100px;
    margin: 0 10%;
    box-sizing: content-box;
   }
   footer {
    visibility: inherit;
   }
   /*********************/
   .slide_modelo{
      height: 573px;
   }
   .modelos_img{
      height: 480px;
   }
   /*************************/
   .modelos_popup_container{
      display: grid;
      width: 100%;
      margin: 0 auto;
      padding: 8% 5%;
      grid-template-columns: 1fr 1fr;
      grid-gap: 5%;
      gap: 5%;
      max-height: 100%;
      box-sizing: border-box;
   }
   .popup_container_right{
      grid-gap: 0;
      gap: 0;
   }
   .close_popup{
      height: 44px;
      width: 44px;
      position: absolute;
      top: 5%;
      right: 5%;
      z-index: 100;
   }
   .render_desc{
      width: 100%;
      font-size: 30px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: -1.5px;
      text-align: left;
   }
   .precio {
      width: 100%;
      height: 42px;      
      object-fit: contain;
      font-family: 'Brygada 1918', serif; 
      font-size: 44px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.97;
      
      text-align: left;
      color: #de4b17;
      margin-top: 62px;
   }

   .popup_container_left {
      display: grid;
      grid-gap: 60px;
      gap: 60px;
   }

   .modelos_amenidades{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 64px;
      gap: 64px;
      width: 100%;
      margin: 0;
   }
   .amenidades_left, .amenidades_right{
      display: grid;
      grid-gap: 27px;
      gap: 27px;
   }
   .amenidades_left>div, .amenidades_right>div{
      display: grid;
      grid-template-columns: 42px 1fr;
      grid-gap: 30px;
      gap: 30px;
      width: 100%;
   }   
   .m2{
      justify-self: baseline;
   }

   /*** slides detalles ***/
   .slider_container, .slide, .slide_img {
      height: 644px;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr
   }
   .detalles_box{
      display: grid;      
      align-content: center;
      align-items: center;
      background-color: #ece9e5;
   }
   .detalles_title{
      padding: 0 15%;
      display: block;
      font-family: 'Brygada 1918', serif; 
       font-size: 35px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.87;
      letter-spacing: -1.75px;
      text-align: left;
      color: #c5baa9;
      text-transform: capitalize;
   }
   .detalles_content{
      text-align: left;
      font-size: 18px;
      padding:0 15%;
   }
   /******/
   .matterport{
      width: 100%;
      height: 800px;
   }

} /* END query*/

.recorrido_virtual{         
      display: block;
      font-family: 'Brygada 1918', serif; 
       font-size: 35px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.87;
      letter-spacing: -1.75px;
      text-align: left;
      color: var(--Secondary);
      text-transform: capitalize;
}

.touch_anim{
   filter: invert(29%) sepia(56%) saturate(4223%) hue-rotate(355deg) brightness(86%) contrast(96%);
}