@charset "UTF-8";
.container{
   margin: 0 auto;
}
.qs_head_img{
   display: none;
}
.qs_head_img > img{
   object-fit: cover;
object-position: 50% 50%;
height: 270px;
}

.qs_title{
   margin: 35px auto;
}
.qs_title > h2{
   margin: 0;
   padding: 0;
   font-family: 'Brygada 1918', serif; 
   font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: 3.2px;
  text-align: center;
  color: var(--FontDark);
}
.qs_title > h3{
   margin: 0;
   padding: 0;
   font-family: 'Brygada 1918', serif; 
    font-size: 27px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: 5.4px;
  text-align: center;
  color: var(--FontDark);
}

.qs_slogan{
   margin:26px;
   border: 1px solid var(--FontLight); 
}
.qs_slogan > img{
   width: 100%;
   height: 363px;
      object-fit: cover;
object-position: 50% 50%;
transform: translateY(3px);
display: none;
}
.slogan_mobile{
   font-family: 'Brygada 1918', serif; 
   font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: -1.1px;
  text-align: center;
  color: var(--FontLight);
}

.qs_content{
   margin: 26px;
}
.content_mobile{
    font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: justify;
  font-family: 'Encode Sans', sans-serif;
  color: var(--FontDark);
}

.slogan_desktop{
   display: none;
}
.content_desktop{
   display: none;
}
/********* Media Query On screens that are 992px or more ************/
@media screen and (min-width: 992px) {
   .qs_slogan > img{
      display: inherit;
   }
   .slogan_mobile{
      width: 600px;
      margin: 0 auto;
      font-size: 32px;
   }
   .content_mobile{
      font-size: 22px;
   }
   .slogan_desktop, .content_desktop{
      font-family: 'Encode Sans', sans-serif;
      display: inherit;
      padding: 45px 40px;
      box-sizing: border-box;
      font-size: 24px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.88;
      letter-spacing: normal;
      text-align: justify;
      color: var(--FontDark);
   }

   .qs_content, .qs_slogan, .qs_title{
      margin: 0 auto;
      width: 100%;
      padding: 30px;
      max-width: 992px;
   }
   .qs_content{
      border: 1px solid var(--FontLight); 
      margin-top: 21px;
   }
   .qs_head_img > img{
      width: 100%;
      height: 100%;
      max-height: 391px;
      display: inherit;
   }
   .qs_title{
      height: 296px;
      box-sizing: border-box;
      padding-top: 32px;
   }
   .qs_title > h2{
      font-size: 47.5px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.87;
      letter-spacing: 9.5px;
      text-align: center;
   }
   .qs_title > h3{
      font-size: 80px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.11;
      letter-spacing: 16px;
      text-align: center;
   }
} /**/

/**/
.galeria_container{
   grid-template-rows: 1fr;
   margin-top: 50px;
}