@charset "UTF-8";
.container{
  padding-bottom: 10px;
}

.ubicacion_head{
   margin: 40px auto;
   width: 100%;
}
.ubicacion_head > h3{
   margin: 0;
   padding: 0;
    font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: 3.2px;
  text-align: center;
  color: var(--FontDark);
  font-family: 'Brygada 1918', serif;
  text-transform: uppercase;
}
.ubicacion_head > h2{
   margin: 0;
   padding: 0;
     font-size: 27px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: 5.4px;
  text-align: center;
  color: var(--FontDark);
  font-family: 'Brygada 1918', serif;
  text-transform: uppercase;
}


.mapa_border{
   border: 2px solid var(--FontDark);
   margin: 30px;
   height: 400px;
   overflow: hidden;
}
.mapa_border > article{  
  width: 100%;
  height: 100%;
}
/********** pinch and zoom ***********/
#scale-element {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  touch-action: none;
}

#scale-element.reset {
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

/************ Draggable *****************/
#drag-1, #drag-2 {
  width: 1000px;
  /* min-height: 6.5em; */
  /* margin: 1rem 0 0 1rem; */
  /* background-color: #29e; */
  /* color: white; */
  /* border-radius: 0.75em; */
  /* padding: 4%; */
  touch-action: none;
  user-select: none;
  /* -webkit-transform: translate(-50px, -130px); */
  /* transform: translate(-50px, -130px) */
}
.gesture-area{
  box-sizing: border-box;
}

/********* Media Query On screens that are 600px or more ************/
@media screen and (min-width: 600px) {
  .mapa_border{
    max-width: 600px;
    max-height: 600px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  #drag-1, #drag-2 {
    width: 1300px;
    /* min-height: 6.5em; */
    /* margin: 1rem 0 0 1rem; */
    /* background-color: #29e; */
    /* color: white; */
    /* border-radius: 0.75em; */
    /* padding: 4%; */
    touch-action: none;
    user-select: none;
    /* -webkit-transform: translate(-30px, -360px);
    transform: translate(-30px, -360px); */
  }

}
/********* Media Query On screens that are 992px or more ************/
@media screen and (min-width: 992px) {

}


/*
-40px -400px
*/